@import '../../App.scss';

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    ),
    url(../../assets/img/bubbles.jpeg);
  background-size: cover;
  background-position: top;
  color: $color-text-bright;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 400px, 0 100%);

  &__logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    font-weight: 500;
    margin-left: 1rem;
    font-size: 4.5rem;
    /* height: 3.5rem; this is if I add a logo image */
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* .logo:hover {
  animation: moveInRight 3s ease;
} */

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease;
    /* animation-delay: 1s; */
  }
}

