@import '/src/assets/base/animations';
@import '/src/assets/base/base';
@import '/src/assets/base/typography';
@import '/src/assets/base/utilities';

@import '/src/assets/abstracts/functions';
@import '/src/assets/abstracts/mixins';
@import '/src/assets/abstracts/variables';

@import '/src/assets/components/button';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;


}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;

  box-sizing: border-box;
}
